<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diplom</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Магистерская работа</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/">Главная</a>
        <a class="p-2 text-dark" href="/contributors">Участники</a>
        <a class="p-2 text-dark" href="/about">Про проект</a>
    </nav>
    <a class="btn btn-outline-primary" href="#">Sign up</a>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 mb-2">
            <h1 class="my-3">Участники</h1>
            <div class="row mt-5">
                <div class="col-12 col-md-10 col-lg-9">
                    <div class="row mt-5">
                        <div class="col-sm-3 mb-3">
                            <img class="img-fluid rounded-circle" alt="Валера Протопопов" width="190" src="http://localhost:3000/images/valera-photo.jpg">
                        </div>
                        <div class="col-sm-9">
                            <h3>Валера Протопопов</h3>
                            <p>
                                Работал над вычислительной частью проекта. Написание модуля на С++ и компилированием на wasm.
                            </p>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-sm-3 mb-3">
                            <img class="img-fluid rounded-circle" alt="Алгыс Булдаков" width="190" src="http://localhost:3000/images/valera-photo.jpg">
                        </div>
                        <div class="col-sm-9">
                            <h3>Алгыс Булдаков</h3>
                            <p>
                                Работал над Серверной частью проекта.
                            </p>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-sm-3 mb-3">
                            <img class="img-fluid rounded-circle" alt="Леверьев Владимир Семенович" width="190" src="http://localhost:3000/images/valera-photo.jpg">
                        </div>
                        <div class="col-sm-9">
                            <h3>Леверьев Владимир Семенович</h3>
                            <p>
                                Руководитель проекта
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>