H1 { 
	text-align: center;
    font-size: 100%;/* Размер шрифта */
    font-family: Verdana, Arial, sans-serif; /* Семейство шрифта */
   }
P { 
    font-size: 100%; /* Размер шрифта */
    font-family: Verdana, Arial, sans-serif; /* Семейство шрифта */
   }